@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url("https://www.digitaltveurope.com/files/2020/03/Euro-2020.png");
  background-repeat: no-repeat;
  background-size: 100% 150%;
  background-attachment: fixed;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

.schedule-main-row {
  text-align: center;
  text-justify: center;
  background-color: #444;
}

.schedule-header {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
}

.schedule-line {
  height: 50px;
}

/* Layout */
.wrapper {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.sidebar {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
}

.posts {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
  background-color: #219b21;
}

.posts .post-author a {
  color: #fff;
}

.sidebar, .posts {
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #219b21;
}

.article-list {
  background: #219b21;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list .active {
  font-weight: bold;
}

.tags {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.tags a {
  color: #fff;
  margin: 0 1px;
}

.authors {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.authors a {
  color: #fff;
  margin: 0 1px;
}

.tag-size-1 {
  font-size: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.tag-size-2 {
  font-size: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.tag-size-3 {
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.tag-size-4 {
  font-size: 22px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.tag-size-5 {
  font-size: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.btn {
  width: 200px;
  height: 40px;
  background-color: green;
  border: 1px solid darkgreen;
  border-radius: 5%;
  margin: 10px auto 10px auto;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.btn a {
  color: #fff;
  font-weight: bold;
  width: 200px;
  height: 100%;
  padding: 6px;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid darkgreen;
}

.btn:hover a {
  color: darkgreen;
}

.list-horizontal li {
  display: inline-block;
  margin: 0 8px;
}

.list-horizontal li a {
  color: #fff;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  display: none;
  background-color: #219b21;
}

.post.active {
  display: block;
}

.schedule {
  background-color: #fff;
  border: #444 1px solid;
}

.game-location {
  font-style: italic;
}

.team-name {
  color: #fff;
}

.picture {
  width: 210px;
  height: 140px;
}

.picture img {
  width: 100%;
  height: 100%;
}

.post-tags {
  display: -ms-flexbox;
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}
/*# sourceMappingURL=style.css.map */